pipeline/pl_sql_to_adls_bronze.json
{
	"name": "pl_sql_to_adls_bronze",
	"properties": {
		"activities": [
			{
				"name": "Lookup config file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generic_delimited_file",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": "configs",
							"ds_folder": "emr",
							"ds_file": "load_config.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup config file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup config file').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "file exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_generic_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": "bronze",
										"ds_folder": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"ds_file": {
											"value": "@split(item().tablename,'.')[1]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "bonze"
		},
		"annotations": []
	}
}